
@{

    ViewData["Title"] = "About";
}

  <!-- ==================================================== About Section ========================================================================= -->
  <section id="about" class="about">

    <!-- ================================================== About Me ================================================================================= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

        <div class="row">
              <div class="col-lg-4" data-aos="fade-right">
                <!-- <img src="assets/img/MyPhotos/ProfileImg.png" class="img-fluid" alt="">   -->
                <img id = "ME" src="assets/img/MyPhotos/ProfileImg.png"class="img-fluid" alt=""> 
              </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Entry Level Full Stack Web Designer</h3>
                 <p class="fst-italic">
                    Hello! My name is Brittany Dodd. I absolutely love designing, customizing, problem solving, and facing 
                    new challenges. I have had a passion for computers that I shared with my dad growing up. Becoming a <strong>Full Stack Web
                    Developer</strong> is the best way for me to be able to do all of these things in a career field I can grow in. 
                 </p>
                <div class="col-lg-9 offset-3" data-aos="fade-right">
                   <img id= "DadAndI"src="assets/img/MyPhotos/DadNoFrame.png" class="img-fluid" alt="">   
                   <p>
                        My dad was a computer science major in college when I was a young kid. Growing up, being surrounded by computers on a daily basis, 
                        whether he was building them, fixing them, or just having fun on them, it was a way of life in our household. After having kiddos of my own, 
                        I realized I wanted to follow in my dads footsteps and start my career in the Web Developer world.
                   </p>
                 </div>
                </div>
        </div>
    </div><!-- End About Me -->


    <!-- ======= Prior Professional Relations ======= -->
    <div class="prior professional relations container">

      <div class="section-title">
        <h2>PRIOR PROFESSIONAL RELATIONS REVIEWS</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="500">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Brittany is very dedicated and self motivated. She sets her own goals and achieves them beyond standard expectations. Anyone can be taught a job but it 
                takes a person with the interpersonal skills, and self determination to be able to adapt and successfully execute any situation. She is a team player 
                and is always willing to help out wherever she is needed. She would be a true asset to any team that has the privilege to invite her, as she was to mine.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/PriorEmployee/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Sarah Garland</h3>
              <h4>Warehouse Section Manager</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Brittany was with us at Texas Roadhouse from August of 2017 to August 2020. Brittany had been an excellent asset to the team. She started as a server with us and showed strong leadership 
                and teamwork when volunteering to help us with some kitchen positions when we had some staffing issues. Brittany continued to show tremendous reliability and growth and became a "go to"
                person when we had times of stress during operations, especially during the Covid-19 shut down. She was thoughtful and kind enough to design, make and ship a custom Texas Roadhouse tumbler
                to our founder Kent Taylor while we were still under Covid-19 restrictions. We were grateful to have her as part of our Roadhouse family and would welcome her back if she ever needed it!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/PriorEmployee/JasonBarnes.jpg" class="testimonial-img" alt="">
              <h3>Jason Barnes</h3>
              <h4>Managing Partner</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Brittany is outgoing, hardworking, and loyal. She is a very determined individual. This is why I suggested she go to Centriq Training's Full Stack Web Developer program. She had the same
                motivation that I had when I wanted to pursue a career in I.T. Development. I know she will go very far in this industry. She will impress and shock you with her natural abilities!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/MyPhotos/Timothy.jpg" class="testimonial-img" alt="">
              <h3>Tim Foreman</h3>
              <h4>Software Developer</h4>
            </div>
          </div><!-- End testimonial item -->

         @* <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-ic on-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/PriorEmployee/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/PriorEmployee/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div><!-- End testimonial item -->*@

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->
