
@{

    ViewData["Title"] = "Centriq";
}
<!-- ======= Centriq Section ======= -->
  <section id="centriq" class="centriq">
    <div class="container">

      <div class="section-title">
        <h2>Centriq</h2>
        <p>My Classmates</p>
      </div>

      <div class="row centriq-container">
<!-------------------------------------------------------------------- Storm ---------------------------------------------------------------------- -->




        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Storm.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Storm Agnew</h4>
              <p style="color:blue"><a href="mailto:stormagnew77@gmail.com" title="stormagnew77@gmail.com">stormagnew77@gmail.com</a></p>
               <p><a href="https://stormycoding.com" target="_blank">www.stormycoding.com</a></p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Me fixed.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!--------------------------------------------------------------------- Zach -------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-web">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Zach.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Zach Barkoviah</h4>
              <p1>Email: zjbarkoviak@outlook.com</p1>
              <p2>Website: zachbarkoviak.com</p2>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Zachary Barkoviak - Professional Photo[8].jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!---------------------------------------------------------------------- Casey -------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-app">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Casey.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Casey Brown</h4>
              <p>Email: CaseyBrownWD@gmail.com</p>
              <p>Website: SomethingCachey.com</p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/FB_IMG_1662948987359.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!--------------------------------------------------------------------- Kurtis -------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Kurtis.jpeg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Kurtis Caldwell</h4>
              <p>Email: KCaldwell86@outlook.com</p>
              <p>Website: Kurtiscaldwell.com</p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Kurtis.jpeg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!----------------------------------------------------------------------- Sean -------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-web">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Sean.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Sean Coyan</h4>
              <p>Email: seancoyan@outlook.com</p>
              <p>Website: seancoyan.com</p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Sean.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!---------------------------------------------------------------------- Matthew ------------------------------------------------------------------------>
        <div class="col-lg-4 col-md-6 centriq-item filter-app">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Matt.png" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Matthew Jennings</h4>
              <p>Email: mejennings@gmail.com</p>
              <p>Website: matthewjennings.net</p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Matt.png" data-gallery="centriqGallery" class="centriq-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!----------------------------------------------------------------------Devin ---------------------------------------------------------------------------->
<div class="col-lg-4 col-md-6 centriq-item filter-card">
  <div class="centriq-wrap">
    <img src="assets/img/Classmates/Devin (2).jpg" class="img-fluid" alt="">
    <div class="centriq-info">
      <h4>Devin Kuhlman</h4>
      <p>Email: </p>
      <p>Website: </p>
      <div class="centriq-links">
        <a href="assets/img/Classmates/Devin (2).jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
        <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------- Tanner --------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-card">
          <div class="centriq-wrap">
            <img src="assets/img/Classmates/Tanner.JPG" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Tanner Lampson</h4>
              <p>Email: cybertml@outlook.com</p>
              <p>Website: tannermatthew.dev</p>
              <div class="centriq-links">
                <a href="assets/img/Classmates/Tanner.JPG" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!--------------------------------------------------------------------- Juno --------------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-card">
          <div class="centriq-wrap">
            <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Juno Lewis</h4>
              <p>Email: </p>
              <p>Website: jlewisinquiry.com</p>
              <div class="centriq-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!----------------------------------------------------------------------- Jacquelyn -------------------------------------------------------------------->
        <div class="col-lg-4 col-md-6 centriq-item filter-web">
          <div class="centriq-wrap">
            <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="centriq-info">
              <h4>Jacquelyn Little</h4>
              <p>Email: jacquelynlittle1@outlook.com</p>
              <p>Website: jacquelynlittle.com</p>
              <div class="centriq-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
<!------------------------------------------------------------------------ Dawson ----------------------------------------------------------------------->
          <div class="col-lg-4 col-md-6 centriq-item filter-web">
            <div class="centriq-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="centriq-info">
                <h4>Dawson Meier</h4>
                <p>Email: dawson.a.meier@gmail.com</p>
                <p>Website: dawsonmeierdev.net</p>
                <div class="centriq-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- ----------------------------------------------------------------------- Dylan ----------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
              <div class="centriq-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="centriq-info">
                  <h4>Dylan Poole</h4>
                  <p>Email: dypool01@wsc.edu</p>
                  <p>Website: dylanpoole.com</p>
                  <div class="centriq-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
<!-- ------------------------------------------------------------------------- Paige --------------------------------------------------------------------->
              <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                  <img src="assets/img/Classmates/Paige.jpg" class="img-fluid" alt="">
                  <div class="centriq-info">
                    <h4>Paige Scott</h4>
                    <p>Email: paigescott3@outlook.com</p>
                    <p>Website: readypaigeone.com</p>
                    <div class="centriq-links">
                      <a href="assets/img/Classmates/Paige.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
<!------------------------------------------------------------------------------ John ------------------------------------------------------------------->
                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                  <div class="centriq-wrap">
                    <img src="assets/img/Classmates/John.jpg" class="img-fluid" alt="">
                    <div class="centriq-info">
                      <h4>John Walls</h4>
                      <p>Email: jpwalls08@gmail.com</p>
                      <p>Website: jpwalls.com </p>
                      <div class="centriq-links">
                        <a href="assets/img/Classmates/John.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"><i class="bx bx-link"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

      </div>
    </div>
  </section><!-- End Centriq Section -->