@{
    ViewData["Title"] = "Home Page";
}

<!-- ==================================================== About Section ========================================================================= -->
<section id="about" class="about">

    <!-- ================================================== About Me ========================================================================== -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About Me</h2>
            <p>Learn more about me</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">

                <img id="ME" src="assets/img/MyPhotos/ProfileImg.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3 style="font-size:2.1vw;">Entry Level Full Stack Web Designer</h3>

                <br />
                <p1 class="fst-italic" style="font-size:1.4vw;">
                    <br />
                    Hello! My name is <strong>Brittany Dodd</strong>. I absolutely love designing, customizing, problem
                    solving, and facing new challenges. I have had a passion for computers that I shared with my dad growing
                    up. Becoming a <strong> Full Stack Web Developer></strong> is the best way for me to be able to do all
                    of these things in a career field I can grow in.
                </p1>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-5 pt-4 pt-lg-0 content" data-aos="fade-left">
                <p2 class="fst-italic" style="font-size:1.2vw;">
                    <br />
                    <br />
                    My dad was a computer science major in college when I was a young kid. Growing up, being surrounded by
                    computers on a daily basis, whether he was building them, fixing them, or just having fun on them, it was
                    a way of life in our household. After having kiddos of my own, I realized I wanted to follow in my dads
                    footsteps and start my career in the <strong>Web Developer</strong> world.
                </p2>
            </div>
            <div class="col-lg-7" data-aos="fade-left">
                <img id="DadAndI" src="assets/img/MyPhotos/DadNoFrame.png" style="width:620px;height:380px;" class="img-fluid" alt="">
            </div>
        </div>

        <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">

            <br />
            <p3 class="fst-italic" style="font-size:1.4vw;">
                <br />
                I am ambitious and driven. I thrive on challenges and constantly set goals for myself, so I have something to strive
                toward. I'm always looking for an opportunity to do better and eager to learn new skills. I have a keen eye to details
                and artistic design. Starting my new career path with <strong>Centriq</strong> has been the most rewarding experience and I am so 
                excited to take what I've learned and apply it with a company I can learn and grow from.
            </p3>

        </div>

        <div class="row">
            <div class="col-lg-7" data-aos="fade-right">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">

                <br />
                <p1 class="fst-italic" style="font-size:1.4vw;">
                    <br />

                </p1>

            </div>
        </div>

    </div><!-- End About Me -->
    <!-- ======= Prior Professional Relations ======= -->
    <div class="prior professional relations container">

        <div class="section-title">
            <h2>PRIOR PROFESSIONAL RELATIONS REVIEWS</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                @*<div class="swiper-slide">*@
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left m-2 quote-icon-left"></i>
                            Brittany is very dedicated and self motivated. She sets her own
                            goals and achieves them beyond standard expectations. Anyone can be
                            taught a job but it takes a person with the interpersonal skills,
                            and self determination to be able to adapt and successfully execute
                            any situation. She is a team player and is always willing to help
                            out wherever she is needed. She would be a true asset to any team
                            that has the privilege to invite her, as she was to mine.

                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/PriorEmployee/testimonials-3.jpg" class="testimonial-img m-2" alt="">
                        <h3>Sarah Garland </h3>
                        <h4>Warehouse Section Manager</h4>
                    </div>
               @* </div><!-- End testimonial item -->*@

                @*<div class="swiper-slide">*@
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left m-2 quote-icon-left"></i>
                            Brittany is outgoing, hardworking, and loyal. She is a very determined individual. This is why I suggested she go to Centriq Training's Full Stack Web Developer program. She had the same
                            motivation that I had when I wanted to pursue a career in I.T. Development. I know she will go very far in this industry. She will impress and shock you with her natural abilities!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/MyPhotos/Timothy.jpg" class="testimonial-img m-2" alt="">
                        <h3>Tim Foreman</h3>
                        <h4>Software Developer</h4>
                    </div>
               @* </div><!-- End testimonial item -->*@

                @*<div class="swiper-slide">*@
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left m-2 quote-icon-left"></i>
                            Brittany was with us at Texas Roadhouse from August of 2017 to August 2020. Brittany had been an excellent asset to the team. She started as a server with us and showed strong leadership
                            and teamwork when volunteering to help us with some kitchen positions when we had some staffing issues. Brittany continued to show tremendous reliability and growth and became a "go to"
                            person when we had times of stress during operations, especially during the Covid-19 shut down. She was thoughtful and kind enough to design, make and ship a custom Texas Roadhouse                                   tumbler to our founder Kent Taylor while we were still under Covid-19 restrictions. We were grateful to have her as part of our Roadhouse family and would welcome her back if she ever                                needed it!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/PriorEmployee/JB.png" class="testimonial-img m-2" alt="">
                        <h3>Jason Barnes</h3>
                        <h4>Managing Partner</h4>
                    </div>
                @*</div><!-- End testimonial item -->*@
                               
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div><!-- End Testimonials  -->

</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<!-- Resume section starts -->
<section id="resume" class="resume">
    <div class="container">

        <!------------------ Badges ---------------------------------------------------------------------->


        <div class="prior professional relations container">

            <div class="section-title">
                <h2>Badges Ive Earned At Centriq</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets/img/MyPhotos/greenBadge.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                    <!------------------------------ End Badge 1 --------------------------------------------------------->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets/img/MyPhotos/blueBadge.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                    <!------------------------------ End Badge 2 --------------------------------------------------------->
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets/img/MyPhotos/greenBadge.png" class="testimonial-img" alt="">
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="owl-carousel testimonials-carousel">
            </div>

        </div><!-- End Testimonials  -->
        <!---------------------------------- End Badges v--------------------------------------------------------------->

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>FULL STACK WEB DEVELOPMENT</h4>
                    <h5>08/2022 - 11/2022</h5>
                    <h6><em>CENTRIQ TRAINING, KANSAS CITY, MO</em></h6>
                    <p>
                        <ul>
                            <h4>TECHNICAL TRAINING</h4>
                            <li>.NET Core MVC Framework</li>
                            <li>Troubleshooting & Debugging</li>
                            <li>Source Control</li>
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                            <li>Agile/Scrum (Created Team Project)</li>
                        </ul>
                    </p>
                </div>


                <h3 class="resume-title">Technical & Professional Skills</h3>
                <div class="resume-item pb-0">
                    <h4>TOOLS</h4>
                    <ul>
                        <li>Azure Data Studio</li>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                        <li>SSMS</li>
                        <li>Git Bash</li>
                    </ul>

                    <p>
                        <h6>FRONT END</h6>
                        <ul>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>CSS</li>
                            <li>Responsive/Mobile Web Development</li>
                            <li>Bootstrap</li>
                            <li>ReachJS</li>
                        </ul>
                        <h6>MIDDLE TIER</h6>
                        <ul>
                            <li>C#</li>
                            <li>.NET Core MVC</li>
                            <li>LINQ</li>
                            <li>EF</li>
                            <li>Razor Pages</li>
                        </ul>
                        <h6>BACK END</h6>
                        <ul>
                            <li>ADO.NET</li>
                            <li>SQL</li>
                            <li>SQL Server</li>
                        </ul>
                    </p>
                    <h4>PROFESSIONAL SKILLS</h4>
                    <ul>
                        <li>
                            Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork,
                            Pair Programming
                        </li>
                    </ul>
                </div>
            </div>
            <!------------------- MISSOURI STAR QUILT CO WAREHOUSE ---------------------------->
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Missouri Star Quilt Co.</h4>
                    <h6>WAREHOUSE 1 EMPLOYEE</h6>
                    <h5>02/2022 - 07/2022</h5>
                    <p><em>Hamilton, MO</em></p>
                    <p>
                        <ul>
                            <li>Developed Time Management Skills</li>
                            <li>Utilized Math Skills</li>
                            <li>Increased Organization Skills</li>
                            <li>Problem Solved</li>
                            <li>Developed adaptability in a constantly changing environment</li>

                        </ul>
                    </p>
                </div>

                <!---------------------------- OOIDA --------------------------------------------------->
                <div class="resume-item">
                    <h4>OOIDA</h4>
                    <h6>TRUCK BILLING CALL REP</h6>
                    <h5>10/2018 - 05/2019</h5>
                    <p><em>Grain Valley, MO</em></p>
                    <p>
                        <ul>
                            <li>Answered 150+ calls a day to help aid with paperwork and/or questions to drivers while they were on the road  </li>
                            <li>Routed messages to different departments</li>
                            <li>Data Entry</li>
                            <li>10-Key Typing </li>
                            <li>Types 90+ words a minute</li>
                            <li>Took multiple payment transactions over the phone</li>
                        </ul>
                    </p>
                </div>

                <!--------------------------- TEXAS ROADHOUSE ------------------------------------------>
                <div class="resume-item">
                    <h4>Texas Roadhouse</h4>
                    <h6>SERVER/LINE COOK</h6>
                    <h5>08/2017 - 08/2020</h5>
                    <p><em>Blue Springs, MO</em></p>
                    <p>
                        <ul>
                            <li>Customer Service</li>
                            <li>Took multiple payment transactions</li>
                            <li>Line cook/prep</li>
                            <li>Stock inventory</li>

                        </ul>
                    </p>
                </div>

                <!-------------------------------- QUIK CASH -------------------------------------------->
                <div class="resume-item">
                    <h4>QUIK CASH</h4>
                    <h6>MANAGER</h6>
                    <h5>01/2013 - 04/2016</h5>
                    <p><em>Cameron, MO</em></p>
                    <p>
                        <ul>
                            <li>Management experience for 3+ years</li>
                            <li>
                                Provided Payment Advances, Title Security Installment loans,
                                Unsecure Installment loans
                            </li>
                            <li>Took multiple payment transactions</li>
                            <li>Managed and accurately counted a cash drawer of $5,000 daily</li>
                            <li>Executed weekly and monthly audits</li>
                            <li>Trained 10 employees</li>
                        </ul>
                    </p>
                </div>



            </div>
        </div>

    </div>

</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Projects</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <img src="assets/img/portfolio/BowsersDungeon.png" class="img-fluid" alt="">
                    <h4><a href="">Bowser's Dungeon'</a></h4>
                    <p><a href="https://github.com/brittdodd/BowsersDungeon" target="_blank"> https://github.com/brittdodd/BowsersDungeon</a></p>
                    <p>This is a C# console app.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="assets/img/portfolio/BlackJackApp.png" class="img-fluid" alt="">
                    <h4><a href="">Blackjack App</a></h4>
                    <p><a href="https://github.com/brittdodd/Blackjack" target="_blank"> https://github.com/brittdodd/Blackjack</a></p>
                    <p>This is a C# console app</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <img src="assets/img/portfolio/storefront.png" class="img-fluid" alt="">
                    <h4><a href="">Donnie Crockers Bakery</a></h4>
                    <p><a href="https://github.com/brittdodd/DonnieCrockerBakeryStoreFront" target="_blank"> https://github.com/brittdodd/DonnieCrockerBakeryStoreFront</a></p>
                    <p>This is my store front Bakery.</p>
                </div>
            </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="assets/img/portfolio/WebAPI.png" class="img-fluid" alt="">
                    <h4><a href="">Web API</a></h4>
                    <p><a href="https://github.com/brittdodd/ToDoAPI" target="_blank"> https://github.com/brittdodd/ToDoAPI </a></p>
                    <p> Here is my Web API we used for our React To Do API</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <img src="assets/img/portfolio/ReactToDoAPI.png" class="img-fluid" alt="">
                    <h4><a href="">React To Do API</a></h4>
                    <p><a href="https://github.com/brittdodd/react-todo-app" target="_blank"> https://github.com/brittdodd/react-todo-app </a></p>
                    <p>Here is my To Do API using React</p>
                </div>
            </div>

    @*        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Divera don</a></h4>
                    <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                </div>
            </div>
*@
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Centriq Section ======= -->
<section id="centriq" class="centriq">
    <div class="container">

        <div class="section-title">
            <h2>Centriq</h2>
            <p>My Classmates</p>
        </div>
       <div class="row centriq-container">
            <!-------------------------------------------------------------------- Storm ---------------------------------------------------------------------- -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Storm1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Storm Agnew</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:stormagnew77@gmail.com" title="stormagnew77@gmail.com">stormagnew77@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.stormycoding.com" target="_blank">www.stormycoding.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/storm-agnew-88396224b/" target="_blank"> www.linkedin.com /in/storm-agnew-88396224b/</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Me fixed.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></i></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------- Zach -------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Zach1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Zach Barkoviah</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:zjbarkoviak@outlook.com" title="zjbarkoviak@outlook.com">zjbarkoviak@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.zachbarkoviak.com" target="_blank">www.zachbarkoviak.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" target="_blank">www.linkedin.com/in/zachary-barkoviak-21b2b8249/</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Zachary Barkoviak - Professional Photo[8].jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------- Casey -------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-app">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Casey1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Casey Brown</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:CaseyBrownWD@gmail.com" title="CaseyBrownWD@gmail.com">CaseyBrownWD@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.SomethingCachey.com" target="_blank">www.SomethingCachey.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/casey-brown-wd/" target="_blank"> www.linkedin.com/in/casey-brown-wd/</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/FB_IMG_1662948987359.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="App 2"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------- Kurtis -------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Kurtis1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Kurtis Caldwell</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:KCaldwell86@outlook.com" title="KCaldwell86@outlook.com">KCaldwell86@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.www.Kurtiscaldwell.com" target="_blank">www.Kurtiscaldwell.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/kurtis-caldwell-b212bb24b/" target="_blank"> www.linkedin.com/in/kurtis-caldwell-b212bb24b/</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Kurtis.jpeg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 2"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------------------------------------- Sean -------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Sean1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Sean Coyan</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:seancoyan@outlook.com" title="seancoyan@outlook.com">seancoyan@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.seancoyan.com" target="_blank">www.seancoyan.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/seancoyan/" target="_blank"> www.linkedin.com/in/seancoyan/</a></p>

                         <div class="centriq-links">
                            <a href="assets/img/Classmates/Sean.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 2"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------- Matthew ------------------------------------------------------------------------>
            <div class="col-lg-4 col-md-6 centriq-item filter-app">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Matt1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Matthew Jennings</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:mejennings@gmail.com" title="mejennings@gmail.com">mejennings@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.matthewjennings.net" target="_blank">www.matthewjennings.net</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/matt-jennings-9bb1061b2" target="_blank"> www.linkedin.com/in/matt-jennings-9bb1061b2</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Matt.png" data-gallery="centriqGallery" class="centriq-lightbox" title="App 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------------------------------------Devin ---------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-card">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Devin1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Devin Kuhlman</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:devin.kuhlman@att.net" title="devin.kuhlman@att.net">devin.kuhlman@att.net</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.devinkuhlman.com/" target="_blank">www.devinkuhlman.com/</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/devin-kuhlman-9abb87222/" target="_blank"> www.linkedin.com/in/devin-kuhlman-9abb87222/</a></p>

                       <div class="centriq-links">
                            <a href="assets/img/Classmates/Devin (2).jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------- Tanner --------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-card">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Tanner1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Tanner Lampson</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:cybertml@outlook.com" title="cybertml@outlook.com">cybertml@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.tannermatthew.dev" target="_blank">www.tannermatthew.dev</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/tanner-matthew-dev" target="_blank"> www.linkedin.com/in/tanner-matthew-dev</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Tanner.JPG" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 1"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------- Juno --------------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-card">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Juno1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Juno Lewis</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:Juno042022@outlook.com" title="Juno042022@outlook.com">Juno042022@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.jlewisinquiry.com" target="_blank">www.jlewisinquiry.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/juno-lewis-825714247/" target="_blank"> www.linkedin.com/in/juno-lewis-825714247/</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Juno.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Card 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------------------------------------------- Jacquelyn -------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Jackie.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Jacquelyn Little</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:jacquelynlittle1@outlook.com" title="jacquelynlittle1@outlook.com">jacquelynlittle1@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.jacquelynlittle.com" target="_blank">www.jacquelynlittle.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/jacquelyn-little-937497249" target="_blank"> www.linkedin.com/in/jacquelyn-little-937497249</a></p>

                        <div class="centriq-links">
                            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------ Dawson ----------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Dawson.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Dawson Meier</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:dawson.a.meier@gmail.com" title="dawson.a.meier@gmail.com">dawson.a.meier@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.dawsonmeierdev.net" target="_blank">www.dawsonmeierdev.net</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/dawson-meier-b9781a238/" target="_blank"> www.linkedin.com/in/dawson-meier-b9781a238/</a></p>

                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Dawson.png" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----------------------------------------------------------------------- Dylan ----------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Dylan1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Dylan Poole</h4>


                        <p><i class="bi bi-envelope"></i><a href="mailto:dypool01@wsc.edu" title="dypool01@wsc.edu">dypool01@wsc.edu</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.dylanpoole.com" target="_blank">www.dylanpoole.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/dylan-poole-141602241/" target="_blank"> www.linkedin.com/in/dylan-poole-141602241/</a></p>
                        
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Dylan.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------- Paige --------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/Paige1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>Paige Scott</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:paigescott3@outlook.com" title="paigescott3@outlook.com">paigescott3@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.readypaigeone.com" target="_blank">www.readypaigeone.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/think-paige-scott" target="_blank"> www.linkedin.com/in/think-paige-scott</a></p>
                        <div class="centriq-links">
                            <a href="assets/img/Classmates/Paige.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------ John ------------------------------------------------------------------->
            <div class="col-lg-4 col-md-6 centriq-item filter-web">
                <div class="centriq-wrap">
                    <img src="assets/img/Classmates/John1.png" class="img-fluid" alt="">
                    <div class="centriq-info">
                        <h4>John Walls</h4>
                        <p><i class="bi bi-envelope"></i><a href="mailto:jpwalls08@gmail.com" title="paigescott3@outlook.com">paigescott3@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.jpwalls.com" target="_blank">www.jpwalls.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/john-w-0151b31b3" target="_blank"> www.linkedin.com/in/john-w-0151b31b3</a></p>

                        <div class="centriq-links">
                            <a href="assets/img/Classmates/John.jpg" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                            <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                        </div>
                    </div>
                </div>
            </div>

        
            <!--------- Mentors ----------------->
            <div class="section-title">
                <h2>Centriq</h2>
                <p>My Mentors</p>
            </div>
            <div class="row centriq-container">
                <!-----------------Spencer Pearson---------------------------------------------------------------------------->
                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                    <div class="centriq-wrap">
                        <img src="assets/img/Mentors/Spencer.png" class="img-fluid" alt="">
                        <div class="centriq-info">
                            <h4>Spencer Pearson</h4>
                            <p>
                                <i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/spencer-pearson/" target="_blank">
                                    www.linkedin.com/in/spencer-pearson/
                            <div class="centriq-links">
                                <a href="assets/img/Mentors/Spencer.png" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!------------------- Jeremy Rutherford ---------------------------------------------------------------------------->
                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                    <div class="centriq-wrap">
                        <img src="assets/img/Mentors/Jeremy.png" class="img-fluid" alt="">
                        <div class="centriq-info">
                            <h4>Jeremy Rutherford</h4>
                            <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/jeremy-rutherford/" target="_blank">www.linkedin.com/in/jeremy-rutherford/</a></p>
                            <div class="centriq-links">
                                <a href="assets/img/Mentors/Jeremy.png" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------- Danielle Smalley ---------------------------------------------------------------------------->

                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                    <div class="centriq-wrap">
                        <img src="assets/img/Mentors/Danielle.png" class="img-fluid" alt="">
                        <div class="centriq-info">
                            <h4>Danielle Smalley</h4>
                            <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/danielle-smalley/" target="_blank">www.linkedin.com/in/danielle-smalley/</a></p>
                            <div class="centriq-links">
                                <a href="assets/img/Mentors/Danielle.png" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!---------------------- Evan Whittaker ------------------------------------------------------------------------------->
                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                    <div class="centriq-wrap">
                        <img src="assets/img/Mentors/Evan.png" class="img-fluid" alt="">
                        <div class="centriq-info">
                            <h4>Evan Whittaker</h4>
                            <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/evanwhittaker/" target="_blank">www.linkedin.com/in/evanwhittaker/</a></p>
                            <div class="centriq-links">
                                <a href="assets/img/Mentors/Evan.png" data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------- Jeff DeMaranville------------------------------------------------------------------------->
                <div class="col-lg-4 col-md-6 centriq-item filter-web">
                    <div class="centriq-wrap">
                        <img src="assets/img/Mentors/Jeff.png" class="img-fluid" alt="">
                        <div class="centriq-info">
                            <h4>Jeff DeMaranville</h4>
                            <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/jeffrey-demaranville/" target="_blank">www.linkedin.com/in/jeffrey-demaranville/</a></p>
                            <div class="centriq-links">
                                <a href="assets/img/Mentors/Jeff.png data-gallery="centriqGallery" class="centriq-lightbox" title="Web 3"></a>
                                <a href="centriq-details.html" data-gallery="centriqDetailsGallery" data-glightbox="type: external" class="centriq-details-lightbox" title="Centriq Details"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------------------------------------------------------------------------------------->
            </div>
        </div>
</section><!-- End Centriq Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

        @*    <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>*@

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                      @*  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>*@
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>Brittany.R.Dodd@hotmail.com</p>
                </div>
            </div>
        @*    <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>*@
        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

    </div>
</section><!-- End Contact Section -->